/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt-sans-v11-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-v11-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt-sans-v11-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-v11-cyrillic_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-caption-regular - cyrillic_latin */
@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Caption"), local("PTSans-Caption"),
    url("../fonts/pt-sans-caption-v12-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-caption-v12-cyrillic_latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-caption-700 - cyrillic_latin */
@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Caption Bold"), local("PTSans-CaptionBold"),
    url("../fonts/pt-sans-caption-v12-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-caption-v12-cyrillic_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 10vw;
  color: #333333;
}
body{
  overflow-x: hidden;

}
.logo {
  margin-right: 19vw;
}
.logo_img{
    width: 14.37vw;
}
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  border-bottom: 0.6vw solid #ffffff;
}

body {
  position: relative;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 3.1vw;
  line-height: 4vw;

  /* dark grey */

  color: #6f6f6f;
  background: #ffffff;
}

.headerTop {
  padding: 2.5vw 6.25vw;
  width: 100vw;
  height: 13.7vw;
  left: 0px;
  top: 0px;

  /* light grey */

  background: #f4f4f4;
}

.headerTop__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headerBottom {
  background-color: #ffffff;
  padding-top: 3.1vw;
}

.headerBottom__container {
  margin-left: 5.9vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button {
  margin-right: 9vw;
}
.button svg{
    height:6.25vw;
  width:6.25vw;
}
.search form {
  width: 58vw;
  height: 8.75vw;
  /* dark grey */

  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 45px;
  margin-right: 8.12vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sign {
  width: 10.9vw;
  height: 5.6vw;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  /* main orange */

  color: #f76201;
  text-decoration: none;
  margin-right: 5.3vw;
}

.registration {
  background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
  border-radius: 55px;
  width: 39vw;
  height: 12.5vw;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button_text {
  width: 27.8vw;
  height: 5.6vw;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  color: #ffffff;
}

.button_tryfree_text {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  color: #ffffff;
}

.tryfree {
  background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
  border-radius: 55px;
  width: 87.1vw;
  height: 12.5vw;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10vw;
}

.search input,
.d3 button {
  border: none;
  outline: none;
  background: transparent;
}

.search input {
  margin: 2.18vw 0px 1.8vw 4vw;
  width: 46.8vw;
  height: 4vw;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 3.1vw;
  line-height: 4vw;

  /* identical to box height */

  color: #6f6f6f;
}

.headerTop__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper {
  overflow: hidden;
}

.search button {
  background: #f4f4f4;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 7.8vw;
}
.search svg{
  height: 3.12vw;
  width: 3.12vw;
}
.Hamburger {
  margin-right: 6.5vw;
}
.Hamburger svg{
    height:5.62vw;
  width: 7.18vw;
}
.content {
  margin-top: 39.68vw;
}

.mainSection {
  margin-bottom: 22vw;
  margin-top: 3.4vw;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  width: 100vw;

}
.img_mainSection{
  width: 72vw;
}
.mainSection__title, .stepsSection__title, .step_title, .advantagesSection__title {
  max-width: 86.2vw;
  margin-bottom: 10vw;
}
.advantagesSection__title{
  margin-bottom: 4.6vw;
}
.step_title{
  max-width: none;
    margin-bottom: 1.5vw;
}

.step1, .step2, .step3, .step4, .add{
        display: flex;
  align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 11.5vw;
}
.step_text, .add_text{
  font-weight: normal;
font-size: 5vw;
line-height: 6.2vw;
color: #333333;
margin-bottom: 5.6vw; 
max-width: 40.6vw;
text-align: center;
}
.mainSection_li {
  list-style: none; /* Убираем исходные маркеры */
  margin-bottom: 4.3vw;
  padding-left: 3.4vw;
  position: relative;
  font-size: 5vw;
  color: #333333;
  line-height: 6.2vw;
}

.mainSection_li::before {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Ellipse.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
  top: 2.5vw;
  width: 1.56vw;
  height: 1.56vw;
}

.mainSection__image {
  margin-bottom: 10vw;
}

.info_text {
  margin-top: 8.4vw;
  padding-left: 1.25vw;
  font-size: 3.75vw;
  line-height: 5vw;
  /* or 133% */

  letter-spacing: 0.01em;

  /* middle grey */

  color: #999999;
}

h3 {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2vw;
  line-height: 8vw;

  /* main text color */

  color: #333333;
}

h2 {
  /* H2 360/768(20pt) */

  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2vw;
  line-height: 8vw;

  /* main text color */

  color: #333333;
}

.compareSection__title {
  margin-bottom: 9vw;
}
.cloudvers {
  margin-bottom: 5.3vw;
}
.cloudvers_items {
  border-top: 6px solid #178a00;
  border-radius: 6px 6px 10px 10px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}
.cloudvers_head {
  padding: 5vw 15.3vw 5.9vw 8.4vw;

  display: flex;
  flex-direction: row;
}

.cloudvers_head svg {
  width:19.3vw;
  height: 20.6vw;
}

.cloudvers_head_info {
  padding-top: 3.7vw;
  padding-left: 8.5vw;
}
.cloudvers_head_title {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 6.56vw;
  /* main text color */

  color: #333333;

  padding-bottom: 2.2vw;
}
.cloudvers_head_price {
  font-weight: bold;
  font-size: 5.62vw;
  line-height: 8.75vw;
  /* identical to box height, or 156% */

  /* main green */

  color: #178a00;

  padding-bottom: 2.5vw;
}
.hide {
  text-decoration: none;
}
.hide_text {
  font-family: PT Sans Caption;
  position: relative;
  height: 5.62vw;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.62vw;

  /* main green */

  color: #178a00;
}
.hide_text::after {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Vector.svg);
  background-size: 3.75vw 2.5vw;
  position: absolute;
  left: 18.9vw;
  bottom: 0.83vw;
  width: 3.75vw;
  height: 2.5vw;
  background-repeat: no-repeat;
}
.cloudvers_list {
  border-top: 1px solid #e4e4e4;
  list-style: none; /* Убираем исходные маркеры */
  padding-left: 20.6vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 19.6vw;
  /* identical to box height, or 125% */

  /* main text color */

  color: #333333;
}
.cloudvers_list::before {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/cloudversVector.svg);
  background-size: 4.3vw 3.4vw;
  background-repeat: no-repeat;
  position: absolute;
  left: 9.6vw;
  width: 4.3vw;
  height: 3.4vw;
}
.cloudvers_list_text {
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 6.25vw;
  max-width: 56.2vw;
  max-height: 12.5vw;
/* identical to box height, or 178% */


/* main text color */

color: #333333;
}
.boxvers {
  margin-bottom: 14vw;
}
.boxvers_items {
  border-top: 6px solid #f76201;
  border-radius: 6px 6px 10px 10px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}
.boxvers_head {
  padding: 4.68vw 4.68vw 7.18vw 8.43vw;
  display: flex;
  flex-direction: row;
}
.boxvers_head svg{
  height: 20.9vw;
  width: 19.3vw;
}
.boxvers_head_info {
  padding-top: 3.75vw;
  padding-left: 6.5vw;
}
.boxvers_head_price {
  font-weight: bold;
  font-size: 5.6vw;
  line-height: 8.75vw;
  /* identical to box height, or 156% */

  /* main green */
  color: #f76201;

  padding-bottom: 2.5vw;
}
.boxvers_hide_text {
  font-family: PT Sans Caption;

  position: relative;
  height: 5.6vw;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  /* main green */

  color: #f76201;
}
.boxvers_hide_text::after {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Vector1.svg);
  background-size: 3.4vw 3.6vw;
  position: absolute;
  left: 51%;
  right: 29.84%;
  bottom: 19.69%;
  width: 3.4vw;
  height: 3.6vw;
  background-repeat: no-repeat;
}
.compareSection {
  margin-bottom: 14vw;
  margin-top: 8.1vw;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
}
.trySection, .try2Section {
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  width: 100vw;
  margin-bottom: 16.5vw;
}
.trySection__title, .try2Section__title {
  max-width: 79.3vw;
  margin-bottom: 8.4vw;
}
.trySection__form , .try2Section__form{
  margin-top: 2.8vw;
}
.phoneInput{
  padding-left: 5.4vw;
  font-size: 4vw;
  color: #6f6f6f;
}
.trySection__form form, .try2Section__form form {
  width: 87.5vw;
  height: 12.5vw;
  /* dark grey */

  /* input border color */

  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.trySection__form_input, .try2Section__form_input {
  padding-left: 4vw;
  padding-right: 4vw;
  width: 82.8vw;
  height: 5.6vw;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 4.3vw;
  line-height: 9vw;

  /* identical to box height */

  color: #6f6f6f;
}
.trySection__form input, .try2Section__form input,
.d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.trySection__footnote, .try2Section__footnote {
  font-size: 3.75vw;
  line-height: 9vw;
  /* identical to box height, or 242% */

  letter-spacing: 0.02em;

  /* dark grey */

  color: #6f6f6f;

  margin-bottom: 6.8vw;
}
.oferta {
  margin-top: 5vw;
  margin-bottom: 16.5vw;
  font-size: 4.3vw;
  line-height: 6.25vw;
  /* or 146% */

  letter-spacing: 0.02em;

  color: #6f6f6f;
}
.oferta a {
  text-decoration-color: #f76201;
  color: #f76201;
}
.safetySection {
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  width: 100vw;
  margin-bottom: 20.3vw;
}
.safetySection__title {
  height: 2.5vw;
}
.safetySection_li::before {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Vectororange.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0.6vw;
  right: 89.38%;
  top: 25.47%;
  bottom: 74.43%;
  width: 4.3vw;
  height: 3.4vw;
}
.safetySection_li_text {
  margin-top: 7.5vw;
  font-size: 5vw;
  line-height: 7.5vw;
}
.safetySection_li {
  list-style: none; /* Убираем исходные маркеры */
  padding-left: 10.6vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* identical to box height, or 125% */

  /* main text color */

  color: #333333;
}
.safety_illustration {
  padding-left: 3.75vw;
  padding-right: 1.8vw
}
.safety_illustration img{
  width: 94.3vw;
}
.solutionsSection {
  margin-top: 16.5vw;
  margin-bottom: 16.5vw;
  padding-left: 6.25vw;
}
.solutionsSection__title {
  width: 54vw;
  height: 16.5vw;
  margin-bottom: 4.3vw;
}
.overflow_buttons{
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll; /* прокрутка по горизонтали */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.for_acc {
  text-decoration: none;
  min-width: 45.9vw;
  height: 12.5vw;
  margin-right: 3.4vw;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
  border-radius: 39px;
}
.for_acc_text {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  color: #ffffff;
}
.for_buss {
  margin-right: 3.4vw;
  text-decoration: none;
  min-width: 79.6vw;
  height: 12.5vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 12.1vw;
  padding-left: 10.3vw;
  padding-right: 4.25vw;
}
.buss_text {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  /* main text color */

  color: #333333;

  width: 65vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.solution {
  margin-top: 12.8vw;
  margin-bottom: 9.6vw;
  font-weight: bold;
  font-size: 5.6vw;
  line-height: 7.1vw;

  /* main text color */

  color: #333333;
}
.sol_li_text {
  max-width: 87.1vw;

  font-size: 5vw;
  line-height: 7.5vw;
  /* or 150% */

  /* main text color */

  color: #333333;
}
.sol_li {
  list-style: none; /* Убираем исходные маркеры */
  padding-left: 10.3vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5vw;
  flex-direction: column;
  /* identical to box height, or 125% */

  /* main text color */

  color: #333333;
}
.sol_li::before {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Vectororange.svg);
  position: absolute;
  left: 0.3vw;
  right: 89.69%;
background-repeat: no-repeat;
  width: 4.3vw;
  height: 3.4vw;
  margin-top: 2.5vw;
  background-size: 4.2vw 3.4vw;
}
.sol_illustration {
  padding-top: 12.8vw;
  padding-left: 0px;
  width: 92.5vw;
}
.tariffsSection {
  padding-left: 6.25vw;
  margin-bottom: 16.5vw;
}
.tariffsSection__title {
  margin-bottom: 8.75vw;
}
.m12_button {
  min-width: 59.6vw;
  height: 12.5vw;


  /* button gradient */

  background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
  border-radius: 12vw;
  margin-right: 3.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.active {
  margin-left: 1rem;
  font-size: 4.3vw;
  background-color: #ffffff;
  color: #ff6600;

  padding: 0 0.6rem;
  line-height: 2.1rem;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6.5vw;
}
.m6_button {
  height: 12.5vw;

  /* button gradient */

  border: 2px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 39px;

  margin-right: 3.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  padding: 3.4vw 6.8vw 3.4vw 9vw;
}
.no_active {
  background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
  border-radius: 21px;
  font-size: 4.3vw;
  line-height: 5.6vw;
  color: #ffffff;
  height: 6.5vw;
  margin-left: 4.3vw;
  padding: 0.3vw 2.5vw 0.6vw 2.5vw;
  box-sizing: border-box;
}
.no_active_text {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;
  color: #333333;

  display: flex;
  align-items: center;
  justify-content: center;
}
.optimal {
  padding-right: 6.25vw;
  margin-top: 7.8vw;
  margin-bottom: 6.8vw;
}
.optimal_items {
  border-top: 6px solid #178a00;
  border-radius: 6px 6px 10px 10px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}
.optimal_head {
  padding: 8.4vw 18.1vw 7.1vw 8.4vw;
}
.optimal_head_price {
  /* H1 360/768(24pt) */

  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 10vw;
  /* identical to box height, or 133% */

  /* main green */

  color: #178a00;
  padding-bottom: 7.1vw;
}
.fullprice {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5vw;
  line-height: 10vw;
  /* identical to box height, or 133% */

  /* middle grey */

  color: #999999;
  text-decoration: line-through;
}
.discount {
  padding-right: 5.3vw;
}
.note {
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8.1vw;
  border-top: 1px solid #e4e4e4;
  height: 19.6vw;
}
.note span {
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 6.25vw;
}
.acces {
  height: 56.2vw;
  border-top: 1px solid #e4e4e4;
  padding: 6.25vw 7.8vw 8.4vw 8.4vw;
}
.acces_title {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 9vw;
  /* identical to box height, or 181% */

  /* main green */

  color: #178a00;
  padding-bottom: 2.5vw;
}
.acces li {
  font-size: 5vw;

  line-height: 10.6vw;
  /* or 200% */

  color: #000000;

  display: flex;
  align-items: center;
  position: relative;
}
.before {
  margin-right: 6.25vw;
  min-width: 4.3vw;
      width: 4.3vw;
    height: 3.4vw;
}

.after {
  margin-left: 1.3vw;
  width: 5vw;
  height: 5vw;
}

.conf {
  height: 112.5vw;
  border-top: 1px solid #e4e4e4;
  padding: 5vw 0px 11.5vw 8.4vw;

  display: flex;
  flex-direction: column;
}
.conf li {
  font-size: 5vw;
  line-height: 10.6vw;
  /* or 200% */

  color: #000000;

  display: flex;
  align-items: baseline;
  position: relative;
}
.conf ul {
  margin-bottom: 6.25vw;
}
.showmore {
  text-decoration: none;
  margin-left: 10.6vw;
  margin-bottom: 10.6vw;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  color: #178a00;
  position: relative;
}
.showmore::after {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/greenVector.svg);
  background-repeat: no-repeat;
  background-size: 3.4vw 2.1vw;
  position: absolute;
  left: 48%;
  top: 37%;

  width: 3.4vw;
  height: 2.1vw;
}

.tryfreeGreen, .lite_tryfree {
  margin-right: 6.8vw;
  text-decoration: none;
  min-height: 12.5vw;
  max-height: 15vw;
  background: linear-gradient(180deg, #40a800 0%, #178a00 100%);
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.lite_tryfree {
background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
}

.tryfreeGreen_text {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5vw;
  /* or 114% */

  text-align: center;

  color: #ffffff;
  padding: 1.5vw;
}
.lite{
  padding-right: 6.25vw;
}
.lite_items{
  border-top: 6px solid #F76201;;
    border-radius: 6px 6px 10px 10px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.lite_head{
  padding: 11.8vw 30.6vw 9.3vw 7.8vw;
}
.lite_head_price {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 10vw;
  /* identical to box height, or 133% */

  /* main green */

  color: #F76201;
}
.lite_title{
  color: #F76201;
  font-family: PT Sans Caption;
font-weight: bold;
font-size: 5vw;
line-height: 9vw;
padding-bottom: 2.5vw;
}
.minus{
  color:#999999;
     font-size: 5vw;
  line-height: 10.6vw;
  /* or 200% */
   display: flex;
  align-items: baseline;
  position: relative;
}
.plus{
    font-size: 5vw;

  line-height: 10.6vw;
  /* or 200% */

  color: #000000;

  display: flex;
  align-items: baseline;
  position: relative;
}
.lite_acces {
  height: 56.2vw;
  border-top: 1px solid #e4e4e4;
  padding: 6.25vw 7.8vw 8.4vw 8.4vw;
}
.lite_showmore, .services_showmore{
    text-decoration: none;
  margin-left: 10.6vw;
  margin-bottom: 10.6vw;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

color: #F76201;
  position: relative;
}
.lite_showmore::after, .services_showmore::after {
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/orangeVector.svg);
  position: absolute;
  left: 48%;
  top: 37%;

  width: 3.4vw;
  height: 2.1vw;
      background-repeat: no-repeat;
    background-size: 3.4vw 2.1vw;
}
}
.phoneInput {
 padding-left: 4.6vw;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 4.3vw;
line-height: 9vw;
/* or 207% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;

}
.fieldPhone__regionName {
    display: flex;
    align-items: center;
    color: #6F6F6F;
    text-decoration: none;
}
.fieldPhone__currentRegion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.fieldPhone__regionText{
   padding-left: 4.6vw;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 4.3vw;
  line-height: 9vw;

  /* identical to box height */

  color: #6f6f6f;
}
.fieldPhone__currentRegion svg{
    margin-left: 0.9vw;
    width: 3vw;
    height: 1.8vw;
}
.servicesSection, .stepsSection, .advantagesSection{
    margin-bottom: 17.8vw;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
}
.reviewsSection{
  display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vw;
}
.reviews_input{
flex-direction:row;
}
.reviewsSection input{
  display: none;
}
.stepsSection a, .reviewsSection a, .advantagesSection a{
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 4.3vw;
    line-height: 5.6vw;
    color: #F76201;
    position: relative;
}
.stepsSection a::after, .reviewsSection a::after, .more a::after{
      content: "";
    background-image: url(../img/svg/xorientVector.svg);
    background-repeat: no-repeat;
    background-size: 2.1vw 3.4vw;
    position: absolute;
    left: 106%;
    bottom: 5%;
    width: 2.1vw;
    height: 3.4vw;
}
.card1_items, .card2_items{
  border-top: 6px solid #F76201;;
    border-radius: 6px 6px 10px 10px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 7.18vw;
  }
.card2_items{
  border-top: 6px solid #EF9D3A;
}
.card1_head, .card2_head{
  padding: 9vw 0px 6.8vw 7.8vw;
  display: flex;
    flex-direction: row;
}
.card1 svg, .card2 svg{
  margin-right: 7.5vw;
  width: 17.5vw;
  height: 17.5vw;
}
.card1_head_title, .card2_head_title{
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 6.5vw;

  /* main text color */

  color: #333333;
width: 36.5vw;
height: 13.1vw;
}
.card2_head_title{
  width: 40vw;
  padding-top: 4.68vw
}
.card1_info, .card2_info{
  padding-left: 7.8vw;
  padding-bottom: 11.2vw;
}
.card1 p, .card2 p{
  font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 5vw;
line-height: 6.8vw;
/* or 137% */


/* main text color */

color: #333333;
padding-bottom: 7.18vw;
}
.card2 p{
  line-height: 6.25vw;
  width: 80.9vw;
}
.card1 a, .card2 a, .card3 a, .card4 a, .card5 a, .card6 a{
  text-decoration-line: underline;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 5.6vw;

  color: #F76201;
  position: relative;
}
.card1 a::after, .card2 a::after, .card3 a::after, .card4 a::after, .card5 a::after, .card6 a::after{
content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/xorientVector.svg);
  background-repeat: no-repeat;
  background-size: 2.1vw 3.4vw;
  position: absolute;
  left: 110%;
  bottom: 5%;
  width: 2.1vw;
  height: 3.4vw;

}
.services_showmore{
  margin-left: 25.6vw;
}
.services_showmore::after{
left:108%;
}
.add_title{
  font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 7.5vw;
    line-height: 10vw;
    color: #178A00;
    margin-bottom: 2.8vw;
}
.add_text{
  max-width: 84vw;
}
.advantagesSection{
  margin-bottom: 0;
}
.advantagesSection img{
      padding-left: 5.6vw;
      width: 89vw;
}
#desktop:checked ~ #slider{ /*размер всего слайдера*/
  max-width: 100%; /*максимальнная длинна*/
}
#slider { /*положение слайдера*/
    position: relative;
  text-align: center;
    top: 10px;
}

#slides article{ /*все изображения справа друг от доруга*/
  width: 33.33%;
  padding: 17.1vw 6.2vw 6.2vw 6.2vw;
}

#slides .rev{ /*устанавливает общий размер блока с изображениями*/
  width: 300%;
  line-height: 0;
}
.rev{
  display: flex;
  flex-direction: row;
}
#overflow{ /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
  padding-left: 0.4392vw;
}

.rev1, .rev2{ /*размер изображений слайдера*/
  width: 100%;
}
label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

#switch1:checked ~ #slides .rev{
  margin-left: 0;
}

#switch2:checked ~ #slides .rev{
  margin-left: -100%;
}

#switch3:checked ~ #slides .rev{
  margin-left: -200%;
}

#active label{ /*стиль отдельного переключателя*/
  border-radius: 3.1vw; /*скругление углов*/
  display: inline-block; /*расположение в строку*/
  width: 3.7vw;
  height: 3.7vw;
  background: #999999;
  margin-right: 12.8vw;
}

#active{ /*расположение блока с переключателями*/
  text-align: center;
  padding-left: 12.8vw;
  margin-bottom: 9.3vw;
}

#active label:hover{ /*поведение чекбокса при наведении*/
  background: #76c8ff;
  border-color: #76c8ff !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ .rev_footer #active label:nth-child(1),
#switch2:checked ~ .rev_footer #active label:nth-child(2),
#switch3:checked ~ .rev_footer #active label:nth-child(3),
#switch4:checked ~ .rev_footer #active label:nth-child(4),
#switch5:checked ~ .rev_footer #active label:nth-child(5){
  background: #F66202;
  border-color: #F66202 !important;
}

#slides .rev{ /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.rev1_items, .rev2_items{
  border-radius: 6px 6px 10px 10px;
    background: #ffffff;
    box-shadow: 0px 0px 16.6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 113vw;
}
.rev_head{
    padding: 7.1vw 0 11vw 5vw;
    display: flex;
    flex-direction: row;
}
.rev_title h3{
  font-size: 5vw;
  line-height: 6.5vw;
}
.rev_title p{
  font-family: PT Sans Caption;
font-weight: bold;
font-size: 5vw;
line-height: 15vw;
/* identical to box height, or 300% */
padding-left: 0;
text-transform: uppercase;
text-align: start;
color: #999999;
}
.rev_img{
  width:25vw;
  margin-left:8vw;
}
.rev_info, .d_rev_info{
  width: 80.9vw;
  padding-left: 5vw;
  text-align: left;
 font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 5vw;
line-height: 6.8vw;
/* or 137% */


/* main text color */

color: #333333;
}
.rev_info a{
  text-decoration-line: underline;

/* main orange */

color: #F76201;
}
.rev_button{
padding: 10vw 4.3vw 11.5vw 5.6vw;
}
.rev_button div{
  border: 2px solid #F76201;
box-sizing: border-box;
border-radius: 3.29vw;
width:77.1vw;
height: 12.5vw;
align-items: center;
font-family: PT Sans Caption;
font-weight: bold;
font-size: 4.3vw;
line-height: 5.6vw;
color: #FF6500;
display: flex;
justify-content: center;
align-items: center;
}
.rev_button svg{
  margin-left: 4vw;
  width: 3.1vw;
  height: 4vw;
}
.footer{

  flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 12.8vw;
        border-top: 1px solid #C0C0C0;
}
.footerMenu{
padding-bottom: 5.3vw;
}
.cont{padding-left: 6.2vw;
padding-right: 6.2vw;}
.footer label {cursor: pointer;}
.footer ul {list-style: none;}
.list {display: none;}
.checkbox {display: none;}
.checkbox:checked ~ .list{
  display: block;
}
.checkbox1 p, .checkbox2 p, .checkbox3 p, .checkbox4 p{
  position: relative;
  font-family: PT Sans Caption;
font-weight: bold;
font-size: 4.3vw;
line-height: 5.6vw;

/* main text color */

color: #333333;
}
.checkbox1, .checkbox2, .checkbox3, .checkbox4{
  margin-bottom: 5.3vw;
}
.checkbox1 p::after, .checkbox2 p::after, .checkbox3 p::after, .checkbox4 p::after{
  content: "";
    background-image: url(../img/svg/footerVector.svg);
    position: absolute;
    left: 73%;
    top: 37%;
    width: 3.4vw;
    height: 2.1vw;
    background-repeat: no-repeat;
    background-size: 3.4vw 2.1vw;
}

.checkbox2 p::after{
      left: 77.3%;
}
.checkbox3 p::after{
      left: 62%;
}
.checkbox4 p::after{
      left: 73%;
}
.checkbox1 a, .checkbox2 a, .checkbox3 a, .checkbox4 a{
text-decoration: none;
font-size: 4vw;
line-height: 2.4rem;
font-family: PT Sans;
font-style: normal;
letter-spacing: 0.02em;
color: #333333;
}
.footer_logo{
  width: 24.6vw;
  margin-top: 7.8vw;
  margin-bottom: 11.5vw;
}
#number{
  font-family: PT Sans Caption;
font-weight: bold;
font-size: 6.2vw;
line-height: 8.1vw;
/* identical to box height */


/* main text color */

color: #333333;
margin-bottom: 2.5vw;
}
#text{
  font-family: PT Sans Caption;
font-weight: normal;
font-size: 4.3vw;
line-height: 6.2vw;
/* or 143% */

text-align: center;
margin-bottom: 3.7vw;
color: #333333;
}
.refs, .apps{
  padding: 0 5.3vw 8.2vw 5.3vw;
  display: flex;
  justify-content: space-between;
}
.refs svg{
  width: 14vw;
  height:14vw;
  background-repeat: no-repeat;
  background-size: cover;
}
#fix{
  margin-top: -3.12vw;
}
#fix img{
  width: 46.8vw;
  height: 18.1vw;
}
.apps img{
  width: 37.5vw;
  height: 12.1vw;
}
.copyright{
  background: #F4F4F4;
  height: 15vw;
  display: flex;
  margin-left: -6.2vw;
  margin-right: -6.2vw;
    align-items: center;
    justify-content: center;
}
.copyright p{
  font-family: PT Sans Caption;
font-weight: normal;
font-size: 3.7vw;
line-height: 5vw;
text-align: right;
color: #333333;
}

.headerVersion a, .headerTop a, .consult{
  text-decoration: none;
  font-size: 1vw;
line-height: 1.3vw;
position: relative;
/* dark grey */

color: #6F6F6F;
}
.headerVersion a{
    font-size: 0.8vw;
line-height: 1.1vw;
}
.headerVersion{
padding: 0.5vw 13.7vw;
padding-right: 14.6vw;
background: #FFFFFF;
    display: flex;
}

.back::after{
content: "";
    background-image: url(../img/svg/headerback.svg);
    position: absolute;
    top:40%;
    left: 106%;
    width: 0.3vw;
    height: 0.5vw;
    background-repeat: no-repeat;
    background-size: 0.3vw 0.5vw;
}
.back{
  margin-right: 56.8vw;
}
.close::after{
  content: "";
    background-image: url(../img/svg/close.svg);
    position: absolute;
    top:40%;
    left: 120%;
    width: 0.5vw;
    height: 0.5vw;
    background-repeat: no-repeat;
    background-size: 0.5vw 0.5vw;
}
.otziv, .faq{
  padding-right: 2vw;
}
.otziv{
  padding-left: 2.9vw;
}
.sup{
  padding-right: 8.9vw;
}
.download{
  padding-right: 3.5vw
}
.download::before, .footer_oferta::before{
      content: "";
    background-image: url(../img/svg/download.svg);
    position: absolute;
    top:2%;
    left: -15%;
    width: 1vw;
    height: 1vw;
    background-repeat: no-repeat;
    background-size: 1vw 1vw;
}
.footer_oferta::before{

    top: 99.49%;
    left: 13.4%;
}
.write::before{
      content: "";
    background-image: url(../img/svg/write.svg);
    position: absolute;
    top:20%;
    left: -15%;
    width: 1vw;
    height: 0.8vw;
    background-repeat: no-repeat;
    background-size: 1vw 0.8vw;
}
.sign::before{
        content: "";
    background-image: url(../img/svg/log-in.svg);
    position: absolute;
    right: 131%;
    width: 1.3vw;
    height: 1.3vw;
    background-repeat: no-repeat;
    background-size:1.3vw 1.3vw;
}
.about::after{
    content: "";
    background-image: url(../img/svg/headerback.svg);
    position: absolute;
    top:40%;
    left: 106%;
    width: 0.5vw;
    height: 0.5vw;
    background-repeat: no-repeat;
    background-size: 0.5vw 0.5vw;
    transform: rotate(90deg);
}
.lang{
  font-weight: bold;
}
.lang::after{
      content: "";
    background-image: url(../img/svg/Vector1.svg);
    position: absolute;
    top:40%;
    left: 133%;
    width: 0.5vw;
    height: 0.5vw;
    background-repeat: no-repeat;
    background-size: 0.5vw 0.5vw;
}



















@media (min-width: 770px) {
.headerBottom{
  padding-top: 1.24vw;
}
.headerBottom a{
  text-decoration: none;
  font-size: 1vw;
line-height: 1.3vw;
position: relative;
/* dark grey */
text-transform: capitalize;
color: #333333;
}
.headerBottom__container{
  margin-left: 13.7vw;
}
.logo_img{
  width: 5.43vw;
}
.logo{
  margin-right: 2.7vw;
}
.sign{
  width: 2.5vw;
      margin-right: 2.1vw;
      height:1.3vw;
      margin-left: 11.4vw;
}
.registration{
      width: 12.8vw;
    height: 3.5vw;
}
.registration p{
  width: 6.5vw;
    height: 1.3vw;
    font-size: 1vw;
    line-height: 1.3vw;
}
.headerTop{
  padding: 0.8vw 13.7vw;
  height: 100%
}
.Hamburger, .button, .hide, .cloudvers_head_price, .cloudvers, .boxvers, .services_showmore, .rev_info{
  display: none;
}
.cloudvers_head_title{
  font-weight: bold;
font-size: 1.3vw;
line-height: 1.6vw;
padding-bottom: 1.2vw;
/* main text color */

color: #333333;
}
.search form {
    width: 14.5vw;
    height: 2.34vw;
    margin-right: 1.3vw;
    margin-left:1.3vw;
}
.search input{
      margin: 0.5vw 0vw 0.5vw 1.3vw;
    width: 10vw;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
  font-size: 1vw;
line-height: 1.3vw;
    color: #6f6f6f;
    height: 1.3vw;
    position: relative;
}
.search button{
  height: 1.17vw;
  position: relative;
}
.search svg{
   height: 1.17vw;
   width: 1.17vw;
       position: absolute;
       margin-left: 0.951vw;
}
.tar{
  margin-right: 2.3vw;
}
.s{
  margin-right: 3vw;
  position: relative;
}
.s::after, .base::after{
        content: "";
    background-image: url(../img/svg/sv.svg);
    position: absolute;
    top:40%;
    left: 114%;
    width: 0.58vw;
    height: 0.29vw;
    background-repeat: no-repeat;
    background-size: 0.58vw 0.29vw;
  }
.base::after{
    background-image: url(../img/svg/bv.svg);
}
.part{margin-right: 2.56vw;}
.mainSection{
      margin-bottom: 0;
    margin-top: 5.3vw;
    padding-right: 8.2vw;
    padding-left: 13.7vw;
    display: flex;
}
.info_text, .tryfree{
  display: none;
}
.content{
  margin-top: 18vw;
}
.mainSection__title h1{
width: 31.1vw;
height: 7vw;
font-size: 2.6vw;
line-height: 3.5vw;
margin-bottom: 1vw;
}
.mainSection__title{
  margin-bottom: 2.2vw;
}
.presentation_text{
width: 33vw;
height: 2.6vw;
font-size: 1vw;
line-height: 1.3vw;
color: #999999;
}
.mainSection li{
  font-size: 1.3vw;
line-height: 1.683vw;
color: #333333;
margin-bottom: 0.51244vw;
padding-left: 1.39vw;
}
.mainSection_li::before{
  content: ""; /* Добавляем желаемый символ перед элементом списка */
  background-image: url(../img/svg/Ellipse.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
  top: 0.5vw;
  width:  0.4392vw;
  height: 0.4392vw;
}
.presentation_tryfree, .trySection_button .tryfree, .try2Section .tryfree{
background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
    border-radius: 3.29vw;
    width: 21vw;
    height: 3.5vw;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 2.41vw;
}
.main_buttons{
      margin-top: 4.68vw;
      flex-direction: row;
    display: flex;
        align-items: center;
}
.cloudvers_list_text{
    font-size: 1.3vw;
line-height: 2.34vw;
}
.button_tryfree_text{
  font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 1vw;
line-height: 1.31vw;

color: #FFFFFF;
}
.consult{
  width: 12.37vw;
  position: relative;
  height: 1.3vw;
}
.consult::after{
        content: "";
    background-image: url(../img/svg/Vector1.svg);
    position: absolute;
    top:40%;
    left: 106.5%;
    width: 0.5vw;
    height: 0.5vw;
    background-repeat: no-repeat;
    background-size: 0.5vw 0.5vw;
    transform: rotate(-90deg);
}
.img_mainSection{
  width: 41.21vw;
  padding-top: 0.51vw;
}
.compareSection__title h2{
  width: 56.8vw;
height: 3vw;
font-family: PT Sans Caption;
font-weight: bold;
font-size: 2.34vw;
color: #333333;
}
.compareSection__title{
  margin-bottom: 4.68vw;
}
.compare{
  display: flex;
}
.compareSection, .trySection, .safetySection, .tariffsSection, .solutionsSection, .servicesSection, .stepsSection, .advantagesSection, .try2Section{
    margin-bottom: 7.97vw;
    margin-top: 0;
    padding: 0 13.76vw;
}
.tariffsSection{
  margin-bottom: 0px;
}
.servicesSection{
  margin-bottom: 5.85vw;
}
.safetySection{
  float: left;
}
.safetySection_li_text{
  font-size: 1.3vw;
line-height: 2vw;
width: 35.65vw;
  margin-top: 3vw;
}
.trySection{
  margin-bottom: 7.39vw;
}
.note_head{
  font-weight: normal;
font-size: 1vw;
line-height: 1.46vw;
width: 19.47vw;
height: 5.85vw;
color: #999999;
margin-bottom: 2.12vw;
}
.notefor_compare li, .d_cloudvers li, .d_boxvers li{
  border-top: 1px solid #e4e4e4;
    list-style: none;
    padding-left: 0.87vw;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 3.95vw;
    color: #333333;
    margin-right:-1.75vw;
}
.d_cloudvers li, .d_boxvers li{
      border-top: none;
          align-items: center;
              padding-right: 1.75vw;
}
.d_boxvers .d_cloudvers_items{
      border-top: 8px solid#F76201;
}
.d_boxvers li{
  border-top: 1px solid #e4e4e4;
  margin-right: 0;
  padding-left: 0;
}
.notefor_compare li{
  margin-right: -28.55vw;
}
.notefor_compare p, .d_cloudvers p{
  font-weight: normal;
font-size: 1.17vw;
line-height: 1.46vw;
color: #333333;
max-width: 22.4vw;

}
.d_cloudvers, .d_boxvers{
  margin-top: 4.39vw;
      margin-left: 5.56vw;
      margin-right: 1.75vw;
}
.d_cloudvers_head{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 9vw;
    justify-content: space-between;
    padding: 1vw 5.41vw 2.19vw 3.66vw;
}
.d_boxvers{
      margin-left: 0;
    margin-right: 0;
}
.d_cloudvers .cloudvers_price,.boxvers_price{
  text-decoration-line: underline;
color: #178A00;
font-weight: bold;
font-size: 1.46vw;
line-height: 1.9vw;
}
.d_boxvers .boxvers_price{
  color: #F76201;
}
.cloudvers_head_info{
  padding-left: 0;
      width: 6.58vw;
    height: 3.36vw;
    margin-left: 1.97vw;
    padding-top: 0.51vw;
}
.d_cloudvers_head svg{
width: 5.34vw;
height: 5.7vw;
}
.d_cloudvers_items{
  border-top: 8px solid #178a00;
    border-radius: 8px 8px 10px 10px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.compareSection__title{
  margin-bottom: 0px;
}
.d_cloudvers li
{
  flex-direction: row;
    padding-left: 0;
    border-top: none;
}
.notefor_compare{
  margin-top: 6vw;
}
.advantagesSection__title {
    margin-bottom: 4vw;
}
.boxvers_price{

}
.try_forms, .trySection_button, .safety, .tariffs, .steps, .avantages_content, .adves{
  display: flex;
}
.trySection__form, .try2Section__form{
  margin-top: 0;
  margin-right: 1.75vw;
}
.trySection__title, .try2Section__title{
  margin-bottom: 5.27vw;
}
.trySection__title h2{
  font-size: 2.34vw;
line-height: 3vw;
}
.trySection__form form, .try2Section__form form{
  width: 23vw;
    height: 4vw;
}
.trySection__form_input, .try2Section__form_input, .fieldPhone__regionText, .phoneInput {
  font-size: 1.17vw;
line-height: 2.12vw;
/* identical to box height, or 181% */

letter-spacing: 0.02em;
padding: 1vw 0px 0.95vw 1.43vw;
}
.fieldPhone__currentRegion svg {
    margin-left:  0.51vw;
    width: 0.478vw;
    height: 0.25vw;
}
.try2Section{
  margin-bottom: 7.24vw;
}
.trySection_button a{
  display: flex;
      /* border-radius: 55px; */
    /* width: 87.1vw; */
    height: 12.5vw;
    margin-top: 0;
}
.trySection__footnote, .try2Section__footnote{
  font-size: 1vw;
line-height: 2.12vw;
/* identical to box height, or 207% */

letter-spacing: 0.02em;
margin-bottom: 2.48vw;
}
.oferta{
  display: flex;
  font-size: 1vw;
line-height: 2.12vw;
letter-spacing: 0.02em;
margin: 0;
width: 23.2vw;
height: 3.5vw;
align-items: center;
}
.oferta a{
  margin-left: 0.02em;
  height: unset;
}
.safetySection__title h2, .tariffsSection__title h2, {
  font-size: 2.34vw;
line-height: 3vw;
}
h2{
  font-size: 2.34vw;
line-height:3vw;
}
.tariffsSection__title{
  margin-bottom: 4.68vw;
}
.safety{
  flex-flow: row-reverse;
      float: left;
}
.safety_illustration img {
    width: 28.33vw;
}
.safety_illustration{
  padding: 0;
  margin-top: 1.3vw;
}
.safety ul{
  margin-left: 5.41vw;
}
.safetySection_li::before{
width: 1.17vw;
height: 0.8vw;
background-size: 1.17vw 0.8vw;
}
.safetySection_li{
  display: block;
  padding-left: 3.36vw;
}
.m12_button{
  min-width: 14.12vw;
    height: 3.5vw;
    margin-right: 1.61vw;
  }
.m6_button{
  margin-right: 1.61vw;
      height: 3.5vw;
      min-width: 14.2vw;
    padding: 1vw 1.83vw 0.95vw 2.2vw;
}
.for_acc_text, .no_active_text, .active, .no_active {
font-size: 1vw;
line-height: 1.3vw;
}
.overflow_buttons{
  overflow-x: hidden;
      flex-wrap: wrap;
}
.sol{
  display: flex;
}
.sol_li_text {
font-size: 1.17vw;
line-height: 1.75vw;
}
.optimal, .lite{
  padding-right: 1.75vw;
  margin-top: 0;
}
.optimal_items{
  border-top: 8px solid #178a00;
}
.optimal_head, .lite_head {
    padding: 3vw 6.36vw 1.3vw 4.24vw;
}
.optimal_head_price, .lite_head_price {
font-size: 3.5vw;
line-height: 4.53vw;
padding-bottom: 0;
    }
    .acces li, .lite li{
      font-size: 1.3vw;
line-height: 3vw;
    }
    .plus svg, .before{
      width: 1.17vw;
      height: 0.8vw;
    }
    .before{
    margin-right: 1.83vw;
    min-width: 0;
    }
    .after {
    margin-left: 0.51vw;
    width: 1.17vw;
    height: 1.17vw;
}
.conf, .lite_conf {
    height: 34vw;
    border-top: 1px solid #e4e4e4;
       padding: 2.6vw 0px 3.66vw 4.24vw;
    }
    .fullprice{
      font-size: 2.34vw;
line-height: 3vw;
    }
    .conf li{
font-size: 1.3vw;
line-height: 3.22vw;
    }
    .conf ul{
      margin-bottom: 2vw;
    }
    .tryfreeGreen, .lite_tryfree {
    margin-right: 7.61vw;
    min-height: 3.5vw;
    min-width: 23.35vw;
  }
  .advantagesSection img {
    padding-left: unset;
    width: 33.82vw;
    margin-right: 0.219vw;
}
  .tryfreeGreen_text {
font-size: 1vw;
line-height: 1.3vw;
  }
  .lite_showmore, .services_showmore, .showmore {
font-size: 1vw;
line-height: 1.3vw;
    margin-left: 0;
    margin-bottom: 2.78vw;
  }
  .showmore::after, .lite_showmore::after{
  width: 0.658vw;
    height: 0.329vw;
    background-size: 0.658vw 0.329vw;
    left: 24%;
  }
  .discount{
    padding-right: 1.39vw;
  }
    .note span{
      font-size: 1.3vw;
line-height: 2.34vw;
    }
.note, .acces, .conf{
  padding-left: 4.24vw;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    margin-bottom:  8.05vw;
    max-width: 26.28vw;
}
.card1_head, .card2_head {
    padding:0;
}
.card1, .card3, .card5{
  margin-left: 4.83vw;
  margin-right: 7.97vw;
}
.card1_info, .card2_info {
    padding-left: 0;
    padding-bottom: 0;
        margin-top: 2.12vw;
}
.card2_head_title {
    padding-top: 0;
}
.note{
    height: 4vw;
    padding-left: 4.24vw;
}
.acces, .lite_acces {
    height: 16.76vw;
    border-top: 1px solid #e4e4e4;
    padding: 2vw 11.85vw 2.6vw 4.24vw;
}    
.acces_title, .lite_title{
  font-size: 1.3vw;
line-height: 2.12vw;
}
.no_active{
background: linear-gradient(180deg, #f76201 0%, #ff4d00 100%);
    border-radius: 21px;
font-size: 1vw;
line-height: 1.3vw;
    color: #ffffff;
    height: 1.53vw;
    margin-left: 1.24vw;
    padding: 1px 0.58vw 0.1464vw 0.58vw;
    box-sizing: border-box;
}
.solutionsSection__title h3{
  display: none;
}
.servicesSection h2{
  margin-bottom: 8.71vw;
}
.rev_title p {
font-size: 1.46vw;
line-height: 3.5vw;
}
.rev_img {
    width: 5.85vw;
    margin-left: 5.56vw;
}
.d_rev_info {
font-size: 1.17vw;
line-height: 1.75vw;
width: unset;
    padding: 0 2.85vw;
}
.rev_button{
padding: 2.56vw 0 0 2.85vw;
}
.rev_button div{
  font-size:0.95vw;
line-height: 1.24vw;
width: 16.39vw;
height: 3.5vw;
}
.rev_button svg {
    margin-left: 0.95vw;
    width:0.51vw;
    height: 0.658vw;
}
.ref_info {
  content: "dddddwds";
}
.rev_title h3{
  font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 1.46vw;
line-height: 1.9vw;

/* main text color */

color: #333333;
}
.solutionsSection__title::after{
  content: "Кому будет полезен наш сервис";
  font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 2.34vw;
line-height: 3vw;

/* main text color */

color: #333333;

}
.solutionsSection__title{
    height: 3vw;
    margin-bottom: 4.9vw;
}
.for_acc{
  min-width: 12.44vw;
    height: 3.5vw;
    margin-right: 1.39vw;
}
.for_buss {
    margin-right: 1.39vw;
    text-decoration: none;
    min-width: 16.25vw;
    height: 3.5vw;
    padding-left: 0;
    padding-right: 0;
}
#last{
  margin-top: 1.46vw;
}
.solution {
    margin-top: 3.22vw;
    margin-bottom:2.2vw;
font-size: 1.3vw;
line-height: 1.683vw;
    }
.buss_text {
    font-family: PT Sans Caption;
    font-weight: bold;
font-size: 1vw;
line-height: 1.3vw;
    max-width: 14.27vw;
}
.sol_li {
    padding-left: 3vw;
    margin-top: 1.683vw;
    justify-content: center;
}
.sol_li::before {
    content: "";
    background-image: url(../img/svg/Vectororange.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 1.17vw;
    height: 0.8vw;
    margin-top: 0;
    background-size: 1.17vw 0.8vw;
}
.sol_illustration {
    padding-top: 0;
    padding-left: 0px;
    width: 37.58vw;
}
.tariffs{
  margin-top: 4vw;
}
.servs{
  display: flex;
  flex-wrap: wrap;
}
.card1_items, .card2_items {
    border-top: 0;
    border-radius: 0;
    background: #ffffff;
    box-shadow: none;
    margin-bottom: 0;
}
.card1_head_title, .card2_head_title{
  font-size: 1.46vw;
line-height: 1.9vw;
width: 10.68vw;
height: 3.8vw;
}
.card1 svg, .card2 svg, .card3 svg, .card4 svg, .card5 svg, .card6 svg {
    margin-right: 4.97vw;
    width: 4vw;
    height: 4vw;
}
.card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p{
  font-size: 1.17vw;
line-height: 1.75vw;
min-height: 5.27vw;
margin-bottom: 1.53vw;
padding-bottom: 0px;
width: unset;
}

.card1 a::after, .card2 a::after, .card3 a::after, .card4 a::after, .card5 a::after, .card6 a::after {
    background-size: 0.58vw 0.2928vw;
    width: 0.58vw;
    height: 0.2928vw;
    left: 100%;
    bottom: 30%;
}
.card1 a, .card2 a, .card3 a, .card4 a, .card5 a, .card6 a {
font-size: 1vw;
line-height: 1.3vw;
}
.step2 a, .step3 a, .step4 a{
  display: none;
}
.step1, .step2, .step3, .step4{
    max-width: 11.63vw;
    margin-bottom: 0;
    }
.add {
align-items: unset;
    margin-bottom: 1.46vw;
    max-width: 45%
  }
#line{
left: -13.9vw;
    position: relative;
    top: -3vw;
}
.stepsSection__title{
margin-bottom: 8.71vw;
}
.steps{
  margin-top: -6.29vw;
  justify-content: space-between;
}
.step1{
  padding-top: 1.3vw;
}
.step_text{
  font-size: 1.46vw;
line-height: 2vw;
min-height: 4vw;
margin-bottom: 1.83vw;
    max-width: unset;
}
.dot, .dot_noactive{
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.34vw;
    height: 2.34vw;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #FFDAC1;
    margin-bottom: 3.14vw;
}
.dot_noactive{
  background-color: #EBEBEB;
}
.dot_noactive span{
  background-color: #999999;
}
.dot::before{
content: '';
 background-image: url(../img/svg/Ellipse2.12.svg);
    position: absolute;
    top: -2.6vw
    width: 0.95vw;
    height: 0.95vw;
    border-radius: 50%;
    background-color: #FF6600;
}
.dot::after{
content: '';
    position: absolute;
    top: -1.24vw;
     background-image: url(../img/svg/Ellipse2.12.svg);
    right: 2.7vw;
    width: 0.51vw;
    height: 0.51vw;
    border-radius: 50%;
    background-color: #FF6600;
}
.dot span, .dot_noactive span{
      display: block;
width: 0.781vw;
height: 0.781vw;
    border-radius: 50%;
}
.advantagesSection{
  margin-bottom: 0;
}
.dot span{
      background-color: #F76201;
}
.stepsSection a, .reviewsSection a, .advantagesSection a {
font-size: 1vw;
line-height: 1.3vw;
}
.stepsSection a::after, .reviewsSection a::after, .more a::after {
    background-size: 0.58vw 0.2928vw;
    width: 0.58vw;
    height: 0.2928vw;
        left: 100%;
    bottom: 30%;
}
.more a::after{
  transform: rotate(90deg);
}
.add_title{
  font-size: 2.34vw;
line-height: 4vw;
margin-bottom: 0.21vw;
}
.add_text{
  font-size: 1.3vw;
line-height: 2vw;
text-align: left;
margin-bottom: unset;
}
.adves{
  flex-wrap: wrap;
  width: 50%;
    justify-content: space-between;
    margin-bottom: 2.12vw;
}
#slides article{
  padding: 0;
     width: 16%;
  margin-right: 1.75vw;
}
#switch1:checked ~ #slides .rev, #switch2:checked ~ #slides .rev, #switch3:checked ~ #slides .rev{
          padding: 4.75vw 0 2.2vw 0px;
    display: flex;
    justify-content: space-between;
}
#switch2:checked ~ #slides .rev{
  margin-left: -100%;
}

#switch3:checked ~ #slides .rev{
  margin-left: -200%;
}
#active label {
    border-radius: 42px;
    display: inline-block;
    width: 0.7vw;
    height: 0.7vw;
    background: #999999;
    margin-right: 2.2vw;
}
#active {
    padding-left: 23.27vw;
    margin-bottom: 0;
    display: flex;
}
.footer_cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vw;
}
.copyright{
  margin-right: -13.65vw;
  margin-left: -13.90vw;
  justify-content: space-around;
  height: 4.68vw;
}
.footer_oferta p{
  position: absolute;
}
.copyright p{
  font-size: 1.0248vw;
    line-height: 1.4641vw;
}
#overflow {
    width: 100%;
    }
#slider{top:0;}
.rev1_items, .rev2_items{
  height: 28.91vw;
}
#slides{
  padding-left: unset;
}
#desktop:checked ~ #slider {
    max-width: 84%;
}
.rev_head{
  padding: 3.29vw 4.68vw 1.9vw 2.85vw;
}
.d_rev_info {
    padding-left: 2.85vw;
  }
  .reviewsSection {
    align-items: unset;
    margin-bottom: 5.85vw;
        display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
#desktop:checked ~ #slider {
    max-width: 72%;
}
.rev_footer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-flow: row-reverse;
    float: left;
    padding-left: 2.85vw;
}
.cont {
    padding: 0 13.68vw;
}
.menu{
  display: flex;
  justify-content: space-between;
}
.list {
    display: block;
    }
    .checkbox1 a, .checkbox2 a, .checkbox3 a, .checkbox4 a {
font-size: 1.17vw;
line-height: unset;
letter-spacing: unset;
}
.list li{
     line-height: 1.39vw;
}
.checkbox1 p::after, .checkbox2 p::after, .checkbox3 p::after, .checkbox4 p::after {
  display: none;
  }
  .footerMenu{
        padding-bottom: 3.87vw;
        max-width: 18.3vw;
  }
  .more a{
    text-decoration: none;
    font-weight: bold;
font-size: 1.1vw;
line-height: 1.1vw;
   color: #FF6500;
    position: relative;
}
.more{
          margin-top: -4.58vw;
}
.footer {

    flex-direction: row;
    padding-top: 4.6vw;
text-align: unset;
align-items: unset;
}
.checkbox1 p, .checkbox2 p, .checkbox3 p, .checkbox4 p {
font-size: 1.1vw;
line-height: 2.2vw;
}
#hide{
  display: none;
}
#number{
  font-size: 1.3177vw;
line-height: 1.6837vw;
margin: unset;
}
#text{
  font-size: 1.0248vw;
line-height: 1.4641vw;
text-align: unset;
margin: unset;
}
.footer_logo {
    margin:unset;
}
.list{
  height: 13.9vw;
}
.footer_cont img{
  width: 5.417vw;
}
.refs{
  padding: unset;
      min-width: 19.25vw;
}
.data{
  max-width: 20.28vw;
}
.footer_cont svg{
  width: 3.55vw;
  height: 3.55vw;
  background-size: 3.55vw 3.55vw;
}
.apps img, #fix img{
  width: 10.66vw;
  height: 3.44vw;
}
#fix img{
  height: 4.8vw;
}
#fix{
  margin-top: unset;
}
.apps{
  padding: unset;
}
}
@media (max-width: 769px) {
.headerVersion, .more{
display: none;
}
.about, .otziv, .faq, .download, .write, .lang, .sup, .tar, .s, .base, .part, .presentation_text, .main_buttons, .notefor_compare, .d_cloudvers, .d_boxvers, .card3, .card4, .card5, .card6, #line, .d_rev_info, #d_hide, .adves a, .footer_oferta{
  display: none;
}
.try_forms, .trySection_button, .safety, .tariffs, .sol, .servs, .steps, .adves, .avantages_content, .rev_footer{
  display: block;
}
 .solutionsSection__title::after{
  content: "";
  }
}
@media (min-width: 1920px){
.card1, .card3, .card5 {
    margin-left: unset;
   margin-right: unset;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    margin-bottom: unset;
    max-width: 18.69vw;
}
.card1, .card2, .card3{
  margin-bottom: 5.15vw;
}
.servs {
  justify-content: space-between;
}

#line {
    width: 100vw;
    left: -11vw;
  }
  .overflow_buttons {
    justify-content: space-between;
  }
  .for_acc {
    margin-right: 0;
    min-width: 8.854166vw;
    height: 2.5vw;
}
.for_buss {
    min-width: 11.56vw;
    height: 2.5vw;
    margin-right: 0;
    }
    .m12_button .for_acc_text {
font-size: 1vw;
    line-height: 1.3vw;}
.for_acc_text {
  font-size: 0.729vw;
line-height: 0.9375vw;
  }
  .buss_text {
font-size: 0.729vw;
line-height: 0.9375vw;
max-width: 10.156vw;
}
#last {
  margin-top: unset;
}
}
